[user]
  name = rodesousa
  email = dessroberto@gmail.com
[core]
  autocrlf = input
  editor = nvim
  trustctime = false
  pager = diff-so-fancy | less --tabs=1,5 -R
[alias]
  cmm = commit -s -m
  cma = commit --amend
  cman = commit --amend --no-edit
  ck = checkout
  st = status
  stu = status -u
  stl = status .
  lg = log --oneline --graph --decorate --color
  aa = add -A
  pr = pull --rebase
  p = push
  pf = push -f
  au = add -u
  ce = config --global -e
  rs = restore --staged
[includeIf "gitdir:~/git/ritmx/"]
  path = ~/.config/git/ritmx
[includeIf "gitdir:~/git/thales/"]
  path = ~/.config/git/thales
[includeIf "gitdir:~/go/src/gitlab.thalesdigital.io/"]
  path = ~/.config/git/thales
[includeIf "gitdir:~/git/pandascore/"]
  path = ~/.config/git/pandascore
[includeIf "gitdir:~/git/arkhn/"]
  path = ~/.config/git/arkhn
[includeIf "gitdir:~/git/sapiologie/"]
  path = ~/.config/git/sapiologie

[github]
	user = rodesousa
[rerere]
	enabled = true
[log]
	follow = true
